/* custom styles can go here */
body {
  background: white;
  background-image: url(../images/byteclub.png);
  background-position: 0 calc(100% - 3px);
  background-repeat: no-repeat;
  background-size: 200px;
}

body.no-walrus {
  background-image: none;
}

.reveal pre code {
  background: #f9f9f9;
  color: initial;
}
